[submodule "imdbpy"]
	path = imdbpy
	url = https://github.com/alberanid/imdbpy
[submodule "tpcds-kit"]
	path = tpcds-kit
	url = https://github.com/gregrahn/tpcds-kit
[submodule "join-order-benchmark"]
	path = join-order-benchmark
	url = https://github.com/gregrahn/join-order-benchmark
